@charset "UTF-8";
@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Black';
  src: url("../fonts/Roboto-Black.eot");
  src: url("../fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 2, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
header {
  position: relative;
  height: 50px;
}

/* line 6, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 5;
}

/* line 13, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 13px 70px;
  margin: 0;
}

/* line 20, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.menu_link {
  color: #ffffff;
  font-family: 'Roboto light';
  font-size: 15px;
  font-weight: 300;
}

/* line 26, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

/* line 29, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.menu_item:nth-child(6) {
  border-right: none;
}

/* line 32, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.hamburger {
  display: none;
}

/* line 35, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.subheader {
  position: absolute;
  top: 50px;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  margin-bottom: 0px;
}

/* line 43, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.subheader_img {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

/* line 48, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.subheader_oficial {
  opacity: 0.5;
  color: #ffffff;
  font-family: "Roboto Regular";
  font-size: 13px;
  font-weight: 400;
  margin-top: 6px;
}

/* line 56, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.subheader_number {
  color: #ffffff;
  font-family: 'Roboto Light';
  font-size: 12px;
  font-weight: 300;
  margin-top: 23px;
}

/* line 63, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.number {
  color: #ffffff;
  font-family: "Roboto Regular";
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 70, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.order_call {
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  margin-top: 19px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-family: "Roboto Regular";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 87, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.uber_partners {
  min-height: 750px;
  padding: 151px 0 135px 0;
  background: url(../img/bg/bg_1.jpg) center center/cover no-repeat;
}

/* line 92, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
h1 {
  color: #ffffff;
  font-family: 'Roboto Bold';
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0px;
}

/* line 101, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.uber_partners_header2 {
  color: #ffffff;
  font-family: 'Roboto Regular';
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 0px;
}

/* line 111, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.uber_partners_text {
  color: #ffffff;
  font-family: 'Roboto Regular';
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

/* line 120, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.uber_partners_btn {
  display: block;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  margin: 0 auto;
  margin-top: 118px;
  border-radius: 4px;
}

/* line 133, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.reasons {
  padding: 71px 0 65px 0;
}

/* line 136, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.label {
  position: relative;
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-family: 'Roboto Light';
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

/* line 150, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.label_white {
  background-color: #fff;
  color: #000;
}

/* line 153, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.label_min {
  width: 76px;
}

/* line 156, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.title {
  position: relative;
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  line-height: 38px;
  font-family: 'Roboto Bold';
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

/* line 168, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.title_white {
  color: #fff;
}

/* line 171, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.subtitle {
  position: relative;
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-family: 'Roboto Regular';
  font-weight: 400;
  text-align: center;
  z-index: 2;
}

/* line 180, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.subtitle_white {
  color: #fff;
}

/* line 184, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.reasons_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

/* line 189, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.reasons_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

/* line 198, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.reasons .reasons_descr {
  width: 343px;
}

/* line 200, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.reasons .reasons_descr .reasons_subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-family: 'Roboto Regular';
  font-weight: 400;
}

/* line 206, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.reasons .reasons_descr .reasons_text {
  color: #202020;
  font-size: 15px;
  font-family: 'Roboto Light';
  font-weight: 300;
  line-height: 21px;
}

/* line 223, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.app {
  min-height: 864px;
  background: url(../img/bg/bg_4.jpg) center center/cover no-repeat;
  padding: 48px 0 79px 0;
}

/* line 228, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.app .opportunity {
  width: 112px;
  height: 24px;
  background-color: #000000;
  color: #ffffff;
  font-family: "Roboto Thin";
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding-top: 5px;
  border-radius: 3px;
}

/* line 242, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.app .app_header {
  color: #222222;
  font-family: 'Roboto Bold';
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 38px;
  margin-bottom: 0px;
}

/* line 251, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.app .app_subheader {
  color: #222222;
  font-family: 'Roboto Regular';
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin-top: 19px;
  margin-bottom: 0px;
}

/* line 259, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.app_item {
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-top: 32px;
  padding: 91px 26px 35px 27px;
}

/* line 266, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.app_text {
  color: #ffffff;
  font-family: 'Roboto Regular';
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-transform: uppercase;
  text-align: center;
}

/* line 274, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.app_btn {
  position: relative;
  width: 26px;
  height: 26px;
  background-color: #000000;
  display: block;
  margin: 0 auto;
  margin-top: 75px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

/* line 287, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.app_btn::before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  transition: 0.5s all;
}

/* line 294, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.app_btn::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  content: "";
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1eacc7;
  transition: 0.5s;
}

/* line 305, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.app_btn:hover::before, .app_btn:hover::after {
  background-color: #ff5656;
}

/* line 309, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.app_item_1 {
  background: url(../img/slids/2-layers.jpg) center center/cover no-repeat;
}

/* line 311, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.app_item_2 {
  background: url(../img/slids/3-layers.png) center center/cover no-repeat;
}

/* line 313, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.app_item_3 {
  background: url(../img/slids/4-layers.png) center center/cover no-repeat;
}

/* line 315, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.app_item_4 {
  background: url(../img/slids/5-layers.png) center center/cover no-repeat;
  margin-top: 19px;
}

/* line 318, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.app_item_5 {
  margin-top: 19px;
  background: url(../img/slids/6-layers.png) center center/cover no-repeat;
}

/* line 321, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.app_item_6 {
  margin-top: 19px;
  background: url(../img/slids/6-layers.png) center center/cover no-repeat;
}

/* line 325, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.choise {
  min-height: 1000px;
  position: relative;
  background: url(../img/bg/bg-2.jpg) center center/cover no-repeat;
  padding: 65px 0px 138px 0px;
}

/* line 331, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.choise .container .opportunity_2 {
  width: 112px;
  height: 24px;
  background-color: #ffffff;
  color: #070716;
  font-family: "Roboto Thin";
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding-top: 5px;
  margin-top: 65px;
  margin: 0 auto;
  border-radius: 3px;
}

/* line 345, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.choise .container .choise_title {
  color: #ffffff;
  font-family: 'Roboto Bold';
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
}

/* line 353, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.choise .container .choise_text {
  color: #ffffff;
  font-family: 'Roboto Regular';
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin-top: 19px;
}

/* line 361, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.choise .container .choise_block_img {
  position: relative;
  display: block;
  margin: 56px auto 0 auto;
  z-index: 2;
}

/* line 369, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.choise .container .choise_text_2 {
  color: #222222;
  font-family: 'Roboto Light';
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
}

/* line 380, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.condition {
  padding: 68px 0 51px 0;
}

/* line 383, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.condition .container .opportunity {
  width: 112px;
  height: 24px;
  background-color: #000000;
  color: #ffffff;
  font-family: "Roboto Thin";
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding-top: 5px;
  border-radius: 3px;
}

/* line 396, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.condition .container .condition_header {
  color: #222222;
  font-family: Roboto;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 33px;
}

/* line 405, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.condition .container .row .col-md-6 {
  margin: 33px 0px;
  padding-left: 100px;
}

/* line 408, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.condition .container .row .col-md-6 .condition_title {
  color: #1ca8c3;
  font-family: "Roboto Regular";
  font-size: 22px;
  font-weight: 400;
}

/* line 413, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.condition .container .row .col-md-6 .condition_desc {
  margin-top: 22px;
  color: #222222;
  font-family: 'Roboto Light';
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  padding-left: 65px;
}

/* line 421, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.condition .container .row .col-md-6 .condition_desc li {
  margin-bottom: 10px;
  display: block;
  position: relative;
}

/* line 425, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.condition .container .row .col-md-6 .condition_desc li::before {
  content: "";
  display: block;
  position: absolute;
  left: -31px;
  top: 3px;
  height: 22px;
  width: 23px;
  background: url(../icons/сheck_mark.png) center center/cover no-repeat;
}

/* line 437, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.condition .container .row .col-md-6 .condition_desc_2 {
  color: #1ca8c3;
  font-family: "Roboto Light";
  font-weight: 300;
}

/* line 442, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.condition .container .row .warning .condition_title {
  color: #ff5656;
}

/* line 446, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.condition .container .row .warning .condition_desc li::before {
  background: url(../icons/check_mark_red.png) center center/cover no-repeat;
}

/* line 449, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.city {
  min-height: 717px;
  background: url(../img/bg/bg_3.jpg) center center/cover no-repeat;
  padding: 49px 0;
}

/* line 454, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.city .container .city_btn {
  width: 76px;
  height: 24px;
  background-color: #ffffff;
  color: #070716;
  font-family: "Roboto Thin";
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
}

/* line 466, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.city .container .city_desc {
  color: #ffffff;
  font-family: 'Roboto Bold';
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 32px;
}

/* line 474, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.city .container .city_desc_2 {
  color: #ffffff;
  font-family: 'Roboto Regular';
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}

/* line 481, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.city .container .city_link {
  display: block;
  color: #1fbad6;
  font-family: 'Roboto Regular';
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-top: 654px;
}

/* line 491, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
footer {
  padding: 14px 23px 39px 23px;
}

/* line 494, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
footer a:hover {
  text-decoration: none;
}

/* line 497, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.footer_divider {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto;
}

/* line 502, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
}

/* line 507, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.footer_wrapper > div {
  width: 33%;
}

/* line 509, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.footer_wrapper > div:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}

/* line 512, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.footer_social {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

/* line 516, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.footer_social_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  background-color: #070716;
  border-radius: 100%;
}

/* line 525, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.footer_social_item i {
  color: #fff;
}

/* line 527, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.footer_links {
  width: 390px;
  margin: 0 auto;
}

/* line 530, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.footer_links_main {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

/* line 534, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.footer_links_main a {
  color: #070716;
  font-size: 15px;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 539, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.footer_links_sub {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* line 543, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.footer_links_sub a {
  color: #999999;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

/* line 548, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.footer_links_lang {
  display: block;
  margin: 0 auto;
  color: #1fbad6;
  font-size: 11px;
  font-weight: 400;
  margin-top: 19px;
  text-transform: uppercase;
  text-align: center;
}

/* line 560, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.footer_mobile a img {
  width: 95px;
}

/* line 563, ../../../../MAMP/htdocs/uber/src/sass/_general.sass */
.xs-visible {
  display: none;
}

@media (max-width: 1200px) {
  /* line 4, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .menu {
    padding: 13px 40px;
  }
  /* line 6, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .menu_item {
    font-size: 13px;
    padding-right: 17px;
  }
  /* line 10, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .uber_partners_header {
    font-size: 50px;
  }
  /* line 12, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .reasons {
    padding-bottom: 68px;
  }
  /* line 14, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .reasons_block {
    align-items: flex-start;
  }
  /* line 16, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .reasons_round {
    width: 113px;
    margin-top: 10px;
    margin-right: 20px;
  }
  /* line 20, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .reasons_descr {
    width: 300px;
  }
  /* line 23, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .app_item {
    width: 290px;
  }
  /* line 25, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .app_text {
    font-size: 21px;
  }
}

@media (max-width: 991px) {
  /* line 30, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .menu {
    padding: 13px 40px;
  }
  /* line 32, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .menu_item {
    padding-right: 14px;
  }
  /* line 34, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .menu_link {
    font-size: 10px;
  }
  /* line 38, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .subheader_img img {
    width: 100%;
  }
  /* line 40, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .subheader_oficial {
    font-size: 11px;
  }
  /* line 42, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .subheader_number {
    font-size: 11px;
  }
  /* line 44, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .subheader_number a {
    font-size: 20px;
  }
  /* line 46, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .order_call {
    width: 140px;
    height: 42px;
    font-size: 12px;
    margin-top: 19px;
  }
  /* line 52, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .uber_partners_header {
    font-size: 40px;
  }
  /* line 54, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .uber_partners_header2 {
    font-size: 26px;
  }
  /* line 56, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .uber_partners_text {
    font-size: 15px;
  }
  /* line 59, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .reasons_block {
    flex-direction: column;
    align-items: center;
  }
  /* line 62, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .reasons_descr {
    margin-top: 20px;
  }
  /* line 65, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .choise_block_img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  /* line 70, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s;
  }
  /* line 82, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .menu_active {
    left: 0px;
  }
  /* line 84, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .menu_item {
    padding-right: 0;
    border: none;
    margin-top: 10px;
  }
  /* line 88, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .menu_link {
    font-size: 20px;
  }
  /* line 91, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .choise_block_img {
    width: 100%;
  }
  /* line 93, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-50%);
    width: 26px;
    height: 12px;
  }
  /* line 101, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 2px;
    transition: 0.5s all;
  }
  /* line 109, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .hamburger_active span {
    margin-bottom: -2px;
  }
  /* line 111, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .hamburger_active span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);
  }
  /* line 113, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  /* line 115, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .hamburger_active span:nth-child(3) {
    transform: translateY(3px) rotate(45deg);
  }
  /* line 117, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .xs-hiden {
    display: none;
  }
  /* line 119, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .xs-visible {
    display: block;
  }
  /* line 121, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .number {
    display: block;
    color: #ffffff;
    font-family: 'Roboto Regular';
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 8px;
  }
  /* line 130, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .order_call {
    display: block;
    width: 140px;
    height: 30px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-family: 'Roboto Regular';
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 8px;
  }
  /* line 145, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .uber_partners_header {
    line-height: 45px;
  }
}

@media (max-width: 575px) {
  /* line 150, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .subheader_oficial {
    display: none;
  }
  /* line 152, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .subheader_img {
    margin-top: 27px;
  }
  /* line 154, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .number {
    color: #ffffff;
    font-family: 'Roboto Regular';
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 16px;
  }
  /* line 162, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .order_call {
    width: 110px;
    height: 22px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-family: 'Roboto Regular';
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 8px;
  }
  /* line 174, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .uber_partners {
    min-height: 400px;
    padding: 113px 0 35px 0;
  }
  /* line 177, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .uber_partners_header {
    color: #ffffff;
    font-family: 'Roboto Bold';
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 24px;
    line-height: 40px;
  }
  /* line 185, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .uber_partners_header2 {
    color: #ffffff;
    font-family: 'Roboto Regular';
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 34px;
    line-height: 30px;
  }
  /* line 193, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .uber_partners_text {
    display: none;
  }
  /* line 195, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .uber_partners_btn {
    width: 210px;
    height: 50px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-family: 'Roboto Regular';
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 72px;
  }
  /* line 207, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .menu {
    width: 83%;
  }
  /* line 209, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .reasons {
    padding: 22px 15px;
  }
  /* line 211, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .label {
    width: 112px;
    height: 24px;
    color: #ffffff;
    font-family: "Roboto Thin";
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
  }
  /* line 219, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .title {
    color: #222222;
    font-family: 'Roboto Bold';
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px;
  }
  /* line 227, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .reasons_block {
    margin-top: 22px;
  }
  /* line 229, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .reasons_round {
    width: 100px;
    height: 100px;
    margin: 0;
  }
  /* line 235, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .reasons_subtitle {
    font-size: 16px;
    width: 290px;
    margin: 0 auto;
    text-align: center;
  }
  /* line 240, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .reasons_text {
    width: 290px;
    font-style: 15px;
    margin: 0 auto;
    text-align: center;
  }
  /* line 246, ../../../../MAMP/htdocs/uber/src/sass/_media.sass */
  .menu_link:nth-child(2) {
    transition: 0.6s;
  }
}

/*# sourceMappingURL=style.css.map */